body {
  display: flex;

}

button {
  color: white;
  background: rgba(0,0,0,.50);
  border: none;
  border-radius: 4%;
  width: 150px;
  height: 30px;
}

.title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-name {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}

img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
}

.instruction {
  width: auto;
  max-width: 500px;
}


@media (max-width: 600px) {
  .image-name {
    display: flex;
    flex-direction: column;
  }
}