:root {
    --body_background: white;
    --body_color: black;
    --link_color: navy;
}

* {
    transition: all 0.3s ease-in-out;
}

[data-theme="dark"] {
    --body_background: #282c34;
    --body_color: white;
    --link_color: cyan;
}


body {
    background-color: var(--body_background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: var(--body_color);
}

.dark_mode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.dark_mode_label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.dark_mode_label input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--body_background);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--body_color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}